@import '/src/assets/styles/lightBeam/mixins.scss';
@import '/src/assets/styles/lightBeam/variables.scss';

$shadowLength: 12px;

@property --beforeColor {
  syntax: '<color>';
  initial-value: #fff;
  inherits: false;
}

.lightBeamWrapper {
  .lightBeam {
    width: 3px;
    right: 25%;
    z-index: 10000;
    position: fixed;
    overflow: hidden;
    top: -$shadowLength;
    bottom: -$shadowLength;
    background-color: $white;
    animation: scale 3s linear infinite 0s alternate;
    transition: box-shadow $beamTransitionDuration $beamTransitionTimingFunction;

    &:before {
      top: 0px;
      left: 0px;
      right: 0px;
      content: '';
      height: 80%;
      opacity: 0.75;
      display: block;
      position: absolute;
      background-color: $white;
      background: linear-gradient(
        0deg,
        transparent 0%,
        var(--beforeColor) 50%,
        transparent 100%
      );

      transition-duration: $beamTransitionDuration;
      transition-property: --beforeColor;

      animation: pass-through 3s linear infinite;
    }

    &.stage-0 {
      @include light-beam-box-shadow($emerald-400, $emerald-500);

      &:before {
        --beforeColor: #{$emerald-400};
      }
    }

    &.stage-1 {
      @include light-beam-box-shadow($sky-400, $sky-500);

      &:before {
        --beforeColor: #{$sky-400};
      }
    }

    &.error {
      @include light-beam-box-shadow($red-500, $red-600);

      &:before {
        --beforeColor: #{$red-500};
      }
    }

    &.loading {
      @include light-beam-box-shadow($yellow-300, $yellow-400);

      &:before {
        --beforeColor: #{$yellow-300};
      }
    }

    &.start {
      top: -$shadowLength;
      bottom: calc(100% + $shadowLength);
    }

    &.startInit {
      top: -$shadowLength;
      bottom: calc(100% + $shadowLength);
    }

    &.startTransitioning {
      top: -$shadowLength;
      bottom: -$shadowLength;
    }

    &.end {
      top: -$shadowLength;
      bottom: -$shadowLength;
    }

    &.endInit {
      top: --$shadowLength;
      bottom: -$shadowLength;
    }

    &.endTransitioning {
      top: calc(100% + $shadowLength);
      bottom: -$shadowLength;
    }

    // the 2 transitions below could be put together as long as they both have 400ms duration.
    // if one of them would have bigger duration, then this is the right way to do it, because
    // the transition detector would get the right max properties.
    &.startInit,
    &.startTransitioning,
    &.endInit {
      transition: box-shadow $beamTransitionDuration
          $beamTransitionTimingFunction,
        bottom 400ms linear 100ms;
    }

    &.endTransitioning {
      transition: box-shadow $beamTransitionDuration
          $beamTransitionTimingFunction,
        top 400ms linear 100ms;
    }
  }

  .grid {
    top: 0px;
    width: 25%;
    z-index: 1;
    bottom: 0px;
    right: 12.5%;
    position: fixed;
    pointer-events: none;
    background-size: 40px 40px;
    mask-image: linear-gradient(90deg, transparent, $black-300, transparent);
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      $black-300,
      transparent
    );
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);

    &.appear {
      opacity: 0;
      animation: appear 300ms linear 600ms 1 forwards;
    }

    &.disappear {
      opacity: 1;
      animation: disappear 300ms linear 600ms 1 forwards;
    }
  }

  .overlay {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: $black-300;

    &.appear {
      opacity: 0;
      animation: appear 400ms linear 1100ms 1 forwards;
    }

    &.disappear {
      opacity: 1;
      animation: disappear 400ms linear 1100ms 1 forwards;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes pass-through {
  0% {
    top: -80%;
  }
  100% {
    top: 100%;
  }
}

// CHECKED 0.2.1
