.loadingIndicator {
  right: 32px;
  bottom: 32px;
  z-index: 110;
  position: fixed;

  .text {
    animation: appear 320ms linear;

    .dot {
      opacity: 0;

      &:first-child {
        animation: dot-appear-1 1500ms linear infinite 320ms;
      }

      &:nth-child(2) {
        animation: dot-appear-2 1500ms linear infinite 320ms;
      }

      &:last-child {
        animation: dot-appear-3 1500ms linear infinite 320ms;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-appear-1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-appear-2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-appear-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// CHECKED 0.2.1
