@import '/src/assets/styles/variables.theLine.scss';

.button[type='button'],
.button {
  padding: 8px 16px;
  border-radius: 9999px;
  border: 0;

  &.stage-0 {
    background-color: $emerald-500;
  }

  &.stage-1 {
    background-color: $sky-500;
  }

  &.error {
    background-color: $red-500;
  }
}
