@import '/src/assets/styles/mixins.theLine.scss';
@import '/src/assets/styles/variables.theLine.scss';

.layout {
  color: $white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $black-300;

  main {
    flex-grow: 1;

    .pageContainer {
      animation: appear 320ms linear;
    }
  }

  footer {
    .footerContent {
      @include container;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// CHECKED 0.2.0
