@import '/src/assets/styles/mixins.theLine.scss';
@import '/src/assets/styles/variables.theLine.scss';

.mainMenu {
  .content {
    @include container;
    display: flex;
    align-items: center;

    h1 {
      a {
        padding: 16px;
        font-size: 3rem;
        font-weight: 400;
        position: relative;
        color: $emerald-500;
        display: inline-block;
        text-decoration: none;
        transition-property: color;
        transition-duration: $lineTransitionDuration;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &::before,
        &::after {
          top: 50%;
          height: 3px;
          width: 13px;
          content: '';
          display: block;
          position: absolute;
          display: inline-block;
          background-color: currentColor;
          transform: translate(0, -50%);
          transition-property: background-color;
          transition-duration: $lineTransitionDuration;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &::before {
          left: 0;
        }

        &::after {
          right: 0;
        }
      }
    }

    nav {
      ul {
        display: flex;
        list-style-type: none;

        li {
          a {
            padding: 16px;
            color: $white;
            display: inline-block;
          }
        }
      }
    }
  }

  &.stage-0 {
    h1 a {
      color: $emerald-500;
    }
  }

  &.stage-1 {
    h1 a {
      color: $sky-500;
    }
  }

  &.loading {
    h1 a {
      color: $yellow-300;
    }
  }

  &.error {
    h1 a {
      color: $red-500;
    }
  }
}

// CHECKED 0.2.0
