@import '/src/assets/styles/mixins.theLine.scss';

.mainMenu {
  .content {
    @include container;
    display: flex;

    h1 {
      a {
        padding: 16px;
        display: inline-block;

        .text {
          position: relative;
          display: inline-block;
        }
      }
    }

    nav {
      ul {
        display: flex;

        li {
          a {
            display: inline-block;
            padding: 16px;
          }
        }
      }
    }

    .themeChangerContainer {
      display: inline-block;
      padding: 16px;
      margin-left: auto;
    }
  }
}
