@import '/src/assets/styles/triangles/variables.scss';

.layout {
  color: $black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $white;

  main {
    flex-grow: 1;

    .pageContainer {
      animation: appear 320ms linear;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// CHECKED 0.2.1
