@import '/src/assets/styles/variables.theLine.scss';

.rootError {
  color: $white;
  min-height: 100vh;
  text-align: center;
  background-color: $black-300;
}

// TODO: #1 move this

// CHECKED 0.2.0
