@import './assets/styles/triangles/variables.scss';

.app {
  color: $black;
  font-family: $font;
  background-color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    font-family: $headingFont;
  }
}

// CHECKED 0.2.1
