// add fonts with unique theme related names,
// so the preloading does not effect the displayed ones.

@font-face {
  font-family: 'LightBeamFont';
  font-weight: 400;
  src: url('../../fonts/montserrat/montserratRegular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'LightBeamFont';
  font-weight: 700;
  src: url('../../fonts/montserrat/montserratBold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'LightBeamHeadingFont';
  font-weight: 400;
  src: url('../../fonts/roboto/robotoRegular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'LightBeamHeadingFont';
  font-weight: 500;
  src: url('../../fonts/roboto/robotoMedium.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'LightBeamHeadingFont';
  font-weight: 700;
  src: url('../../fonts/roboto/robotoBold.ttf') format('truetype');
  font-display: block;
}

// CHECKED 0.2.1
