@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../../fonts/montserrat/montserratRegular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../../fonts/montserrat/montserratBold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../../fonts/roboto/robotoRegular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../../fonts/roboto/robotoMedium.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../../fonts/roboto/robotoBold.ttf') format('truetype');
  font-display: block;
}

// CHECKED 0.2.1
