@mixin container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

@mixin line-box-shadow($color-1, $color-2) {
  box-shadow: 0 0 2px 2px #fff, 0 0 10px 2px $color-1, 0 0 14px 4px $color-2;
}
