$white: #fff;

$black-300: #0e0f11;

$emerald-400: #34d399;
$emerald-500: #10b981;

$sky-400: #38bdf8;
$sky-500: #0ea5e9;

$red-500: #ef4444;
$red-600: #dc2626;

$yellow-300: #fde047;
$yellow-400: #facc15;
